extends layout
block head
  meta(property="og:title" content=facts.og_title)
  meta(property="og:image" content="https://tmproject.rustv.ru"+facts.og_image)
  meta(property="og:description" content=facts.og_descr)

  <meta property="og:type" content="article" />
block content
  section#first
    include mainSection/first
  section#stat
    include mainSection/stat
  section#video
    include mainSection/video
  section#services
    include mainSection/services
  section#geo
    include mainSection/geo
  section#clients
    include mainSection/clients
block footer
  include mainSection/footer


