extends layout

block content
  section
    .mainTower
      .mainBlock
        .mainBlockL
          .MLdecor1
            <svg width="66" height="48" viewBox="0 0 66 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="66" width="48" height="64" rx="24" transform="rotate(90 66 0)" fill="#967CF5" />
            <circle cx="24" cy="24" r="24" transform="rotate(90 24 24)" fill="#6944F0" />
            </svg>
          h1 TM Project
          h2 Позаботимся обо всем
        .mainBlockR
          .mainBlockRWr
            img(src="/images/putin.png" alt="LOGO")
            .mainBlockRTitleWr.flex.center
              <svg width="56" height="80" viewBox="0 0 56 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.7" x="2" y="2" width="52" height="76" rx="15" fill="white" stroke="white" stroke-width="4" />
              <path d="M16 52C9.37259 52 4 57.3726 4 64C4 70.6274 9.37258 76 16 76C22.6274 76 28 70.6274 28 64C28 57.3726 22.6274 52 16 52Z" fill="#1A0959" />
              <path d="M16 28C9.37259 28 4 33.3726 4 40C4 46.6274 9.37258 52 16 52C22.6274 52 28 46.6274 28 40C28 33.3726 22.6274 28 16 28Z" fill="#F21A05" />
              <path d="M40 28C33.3726 28 28 33.3726 28 40C28 46.6274 33.3726 52 40 52C46.6274 52 52 46.6274 52 40C52 33.3726 46.6274 28 40 28Z" fill="#6944F0" />
              <path d="M40 4C33.3726 4 28 9.37258 28 16C28 22.6274 33.3726 28 40 28C46.6274 28 52 22.6274 52 16C52 9.37258 46.6274 4 40 4Z" fill="#B4A1F7" />
              </svg>
              .mainBlockRTitle Выступление главы государства Российской федерации


