doctype html
html(lang="ru")
    head
        title TM Project
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
        <link rel="manifest" href="/ico/site.webmanifest">
        <link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/ico/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/ico/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800")
        link(rel="stylesheet" href="/libs/splide/css/splide.min.css")
        link(rel="stylesheet" href="/stylesheets/style.css")

        block head

    body
        .mainHead()
            .mainTower
                .mainMenu.descktop
                    .mainMenuBoxWr.flex
                        a.mainLogo(href="/")
                            img(src="/images/tm.svg" alt="LOGO")

                    include mainSection/mainMenuItems
                .mobileMenu.mobile.active
                    .mobileMenuWr.flex.between
                        .mobileMenuItem(onclick="document.location.href='/'")
                            <svg width="93" height="16" viewBox="0 0 93 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_210_6433)">
                            <path d="M92.316 10.5283C92.0424 10.7407 91.6614 10.8565 91.2803 10.8565C90.5963 10.8565 90.186 10.4511 90.186 9.70808V6.16647H92.3844V4.22678H90.186V2.10374H87.626V4.22678H86.2678V6.16647H87.626V9.73703C87.626 11.8118 88.8376 12.8637 90.9188 12.8637C91.7005 12.8637 92.4724 12.69 93 12.3136L92.316 10.5283ZM81.7732 12.8637C83.6199 12.8637 85.0855 12.0531 85.7206 10.6634L83.7371 9.59228C83.2584 10.4318 82.5548 10.7889 81.7536 10.7889C80.4639 10.7889 79.4477 9.90109 79.4477 8.37636C79.4477 6.85163 80.4639 5.96381 81.7536 5.96381C82.5548 5.96381 83.2584 6.34017 83.7371 7.16043L85.7206 6.10856C85.0855 4.68034 83.6199 3.88902 81.7732 3.88902C78.9103 3.88902 76.8584 5.75151 76.8584 8.36671C76.8584 10.9819 78.9005 12.8637 81.7732 12.8637ZM71.2401 5.80941C72.3833 5.80941 73.2236 6.52352 73.3995 7.62364H69.0611C69.237 6.50422 70.0773 5.80941 71.2401 5.80941ZM75.8129 8.41496C75.8129 5.6164 73.8098 3.89867 71.2303 3.89867C68.5433 3.89867 66.5305 5.77081 66.5305 8.37636C66.5305 10.9626 68.514 12.854 71.5625 12.854C73.1552 12.854 74.3765 12.3715 75.1973 11.4451L73.8391 9.98794C73.2334 10.5573 72.5592 10.8275 71.6309 10.8275C70.2923 10.8275 69.3543 10.1616 69.11 9.08082H75.7738C75.7738 8.87817 75.8129 8.60796 75.8129 8.41496ZM61.4984 16C63.6285 16 64.8206 14.7262 64.8206 12.7189V4.03378H62.2606V12.7382C62.2606 13.5971 61.8502 14.0024 61.2151 14.0024C60.7851 14.0024 60.4138 13.8866 60.1305 13.6936L59.4465 15.5175C59.9448 15.8552 60.7168 16 61.4984 16ZM63.5503 2.81785C64.4981 2.81785 65.143 2.20024 65.143 1.36068C65.143 0.588661 64.5079 0 63.5503 0C62.5928 0 61.9577 0.617612 61.9577 1.40893C61.9577 2.20024 62.5928 2.81785 63.5503 2.81785ZM55.6163 10.7889C54.3363 10.7889 53.3592 9.88179 53.3592 8.37636C53.3592 6.87093 54.3461 5.96381 55.6163 5.96381C56.8865 5.96381 57.8636 6.87093 57.8636 8.37636C57.8636 9.88179 56.8963 10.7889 55.6163 10.7889ZM55.6163 12.8637C58.4206 12.8637 60.4529 11.0012 60.4529 8.38601C60.4529 5.77081 58.4206 3.90832 55.6163 3.90832C52.812 3.90832 50.7699 5.77081 50.7699 8.38601C50.7699 11.0012 52.812 12.8637 55.6163 12.8637ZM46.9495 5.1725V4.02413H44.5067V12.7286H47.0667V8.62726C47.0667 6.95778 48.0047 6.20507 49.4117 6.20507C49.6072 6.20507 49.7733 6.22437 49.9882 6.23402V3.89867C48.6203 3.89867 47.5748 4.33293 46.9495 5.1725ZM37.97 10.7889C36.69 10.7889 35.7226 9.88179 35.7226 8.37636C35.7226 6.87093 36.69 5.96381 37.97 5.96381C39.2499 5.96381 40.2173 6.87093 40.2173 8.37636C40.2173 9.88179 39.2499 10.7889 37.97 10.7889ZM38.4096 3.89867C37.2274 3.89867 36.2796 4.27503 35.6445 5.02774V4.02413H33.2017V15.8649H35.7617V11.8022C36.4164 12.5163 37.3153 12.854 38.4194 12.854C40.8915 12.854 42.8066 11.1074 42.8066 8.37636C42.8066 5.64536 40.8817 3.89867 38.4096 3.89867ZM26.5575 9.18697H31.1889V7.16043H26.5575V9.18697ZM24.3395 12.7286L24.3102 1.40893H22.1312L17.9004 8.44391L13.6109 1.40893H11.4125V12.7286H13.9041V6.07961L17.2653 11.532H18.4671L21.8381 5.93486L21.8576 12.7286H24.3395ZM3.67388 12.7286H6.33158V3.54162H10.0055V1.40893H0V3.54162H3.67388V12.7286Z" fill="#1A0959"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_210_6433">
                            <rect width="93" height="16" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                        .mobileMenuItem(onclick="document.body.classList.toggle('activeMobileMenu')")
                            <svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="3" rx="1.5" fill="#6944F0"/>
                            <rect y="8" width="30" height="3" rx="1.5" fill="#6944F0"/>
                            <rect y="16" width="30" height="3" rx="1.5" fill="#6944F0"/>
                            </svg>
                    .mobileMenuBox
                        .mobileMenuModal.flex.center
                            .mobileMenuBoxHead.flex.between
                                div(onclick="document.location.href='/'")
                                    <svg width="93" height="16" viewBox="0 0 93 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_210_6978)">
                                    <path d="M92.316 10.5283C92.0424 10.7407 91.6614 10.8565 91.2803 10.8565C90.5963 10.8565 90.186 10.4511 90.186 9.70808V6.16647H92.3844V4.22678H90.186V2.10374H87.626V4.22678H86.2678V6.16647H87.626V9.73703C87.626 11.8118 88.8376 12.8637 90.9188 12.8637C91.7005 12.8637 92.4724 12.69 93 12.3136L92.316 10.5283ZM81.7732 12.8637C83.6199 12.8637 85.0855 12.0531 85.7206 10.6634L83.7371 9.59228C83.2584 10.4318 82.5548 10.7889 81.7536 10.7889C80.4639 10.7889 79.4477 9.90109 79.4477 8.37636C79.4477 6.85163 80.4639 5.96381 81.7536 5.96381C82.5548 5.96381 83.2584 6.34017 83.7371 7.16043L85.7206 6.10856C85.0855 4.68034 83.6199 3.88902 81.7732 3.88902C78.9103 3.88902 76.8584 5.75151 76.8584 8.36671C76.8584 10.9819 78.9005 12.8637 81.7732 12.8637ZM71.2401 5.80941C72.3833 5.80941 73.2236 6.52352 73.3995 7.62364H69.0611C69.237 6.50422 70.0773 5.80941 71.2401 5.80941ZM75.8129 8.41496C75.8129 5.6164 73.8098 3.89867 71.2303 3.89867C68.5433 3.89867 66.5305 5.77081 66.5305 8.37636C66.5305 10.9626 68.514 12.854 71.5625 12.854C73.1552 12.854 74.3765 12.3715 75.1973 11.4451L73.8391 9.98794C73.2334 10.5573 72.5592 10.8275 71.6309 10.8275C70.2923 10.8275 69.3543 10.1616 69.11 9.08082H75.7738C75.7738 8.87817 75.8129 8.60796 75.8129 8.41496ZM61.4984 16C63.6285 16 64.8206 14.7262 64.8206 12.7189V4.03378H62.2606V12.7382C62.2606 13.5971 61.8502 14.0024 61.2151 14.0024C60.7851 14.0024 60.4138 13.8866 60.1305 13.6936L59.4465 15.5175C59.9448 15.8552 60.7168 16 61.4984 16ZM63.5503 2.81785C64.4981 2.81785 65.143 2.20024 65.143 1.36068C65.143 0.588661 64.5079 0 63.5503 0C62.5928 0 61.9577 0.617612 61.9577 1.40893C61.9577 2.20024 62.5928 2.81785 63.5503 2.81785ZM55.6163 10.7889C54.3363 10.7889 53.3592 9.88179 53.3592 8.37636C53.3592 6.87093 54.3461 5.96381 55.6163 5.96381C56.8865 5.96381 57.8636 6.87093 57.8636 8.37636C57.8636 9.88179 56.8963 10.7889 55.6163 10.7889ZM55.6163 12.8637C58.4206 12.8637 60.4529 11.0012 60.4529 8.38601C60.4529 5.77081 58.4206 3.90832 55.6163 3.90832C52.812 3.90832 50.7699 5.77081 50.7699 8.38601C50.7699 11.0012 52.812 12.8637 55.6163 12.8637ZM46.9495 5.1725V4.02413H44.5067V12.7286H47.0667V8.62726C47.0667 6.95778 48.0047 6.20507 49.4117 6.20507C49.6072 6.20507 49.7733 6.22437 49.9882 6.23402V3.89867C48.6203 3.89867 47.5748 4.33293 46.9495 5.1725ZM37.97 10.7889C36.69 10.7889 35.7226 9.88179 35.7226 8.37636C35.7226 6.87093 36.69 5.96381 37.97 5.96381C39.2499 5.96381 40.2173 6.87093 40.2173 8.37636C40.2173 9.88179 39.2499 10.7889 37.97 10.7889ZM38.4096 3.89867C37.2274 3.89867 36.2796 4.27503 35.6445 5.02774V4.02413H33.2017V15.8649H35.7617V11.8022C36.4164 12.5163 37.3153 12.854 38.4194 12.854C40.8915 12.854 42.8066 11.1074 42.8066 8.37636C42.8066 5.64536 40.8817 3.89867 38.4096 3.89867ZM26.5575 9.18697H31.1889V7.16043H26.5575V9.18697ZM24.3395 12.7286L24.3102 1.40893H22.1312L17.9004 8.44391L13.6109 1.40893H11.4125V12.7286H13.9041V6.07961L17.2653 11.532H18.4671L21.8381 5.93486L21.8576 12.7286H24.3395ZM3.67388 12.7286H6.33158V3.54162H10.0055V1.40893H0V3.54162H3.67388V12.7286Z" fill="#1A0959"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_210_6978">
                                    <rect width="93" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>

                                div(onclick="document.body.classList.toggle('activeMobileMenu')")
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="30" height="3" rx="1.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 21.2129 0)" fill="#6944F0"/>
                                    <rect x="2.12109" width="30" height="3" rx="1.5" transform="rotate(45 2.12109 0)" fill="#6944F0"/>
                                    </svg>
                            .mobileMenuBoxFooterWr
                                include mainSection/contacts



                            .mobileMenuBoxItems
                                include mainSection/mainMenuItems

            .mainMenuDivaider.descktop
        block content
        block footer
        script(src="/libs/splide/js/splide.min.js")
        script(src="/javascripts/mainScript.js")



