.videoBox

    if project.images.length==1
        .projectItemImageWr
            .image(style="background-image: url('"+project.images[0].url+"');")
    if project.images.length>1
        .projectItemImageWr
            .splide(role="group" style="width: 100%;" data-splide='{"type":"loop","speed":"1000", "arrows":true, "pagination":true, "autoplay":true,"interval":3000, "lazyLoad":"nearby", "keyboard":true}')
                .splide__track
                    ul.splide__list
                        each image in project.images
                            li.splide__slide
                                .projectItemImageWr
                                    .image(style="background-image: url('" + image.url + "');")
    .projectSection(style="margin-top:32px;")
        .projectTitle !{project.title}



    .close.pointer.flex.center
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M29.3609 27.7603L12.24 10.6394C11.8088 10.2082 11.1096 10.2082 10.6784 10.6394C10.2472 11.0706 10.2472 11.7697 10.6784 12.201L27.7993 29.3219C28.2305 29.7531 28.9297 29.7531 29.3609 29.3219C29.7921 28.8906 29.7921 28.1915 29.3609 27.7603Z" fill="#666E74" stroke="#5C76BA" stroke-width="0.2"/>
        <path d="M27.7603 10.6779L10.6394 27.7988C10.2081 28.23 10.2081 28.9292 10.6394 29.3604C11.0706 29.7916 11.7697 29.7916 12.2009 29.3604L29.3218 12.2395C29.7531 11.8083 29.7531 11.1091 29.3218 10.6779C28.8906 10.2467 28.1915 10.2467 27.7603 10.6779Z" fill="#666E74" stroke="#5C76BA" stroke-width="0.2"/>
        </svg>


