html {
    scroll-behavior: smooth;
}
body,
a {
    color: #586368;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    padding: 4px 4px;
    margin: 0 8px;
    border-radius: 4px;
}

.menu-item:hover {
    background-color: #D9DBDC;
}


.mainTower {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    border-top: 2px solid #F0ECFE;
    padding-top: 34px;

}

.footerText {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 28px;
}

.footerTitle {
    margin-bottom: 14px;
}

.flex {
    display: flex ;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.left {
    align-items: center;
    justify-content: left;
}

.flex.between {
    justify-content: space-between;
}

.foolerContact {
    margin-left: 34px;
}

.foolerContact svg {
    margin-right: 12px;
}

.footerImage img {
    width: 100%;
}

.mainMenu {
    margin: 24px 0;
    justify-content: space-between;
    align-items: center;
}
.mainMenuBoxWr{
    justify-content: space-between;
    align-items: center;
}

.mainMenuDivaider {
    height: 2px;;
    background: #F0ECFE;
    box-shadow: 0px 2px 8px rgba(156, 172, 196, 0.24);
    margin-bottom: 0px;
}

.mainSubMenuItem {

    padding: 8px 24px;
    color: white;
    background-color: #6944F0;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border-radius: 33px;
    margin-left: 24px;
}

.mainSubMenuItem:last-child {
    background-color: #1A0959;
}

.mainSubMenuItem svg {
    margin-left: 8px;
}

.mainSubMenuItem:hover {
    background-color: #8769F3;
}

.mainSubMenuItem:last-child:hover {
    background-color: #8D9297;
}

.mainBlock {

    background-color: #1A0959;
    border-radius: 12px;
    overflow: hidden;

}

section {
    margin-bottom: 64px;
    scroll-margin-top: 140px;
}

.mainBlockR {
    width: 55%;
}

.mainBlockR img {
    width: 100%;
}

.mainBlockL {
    width: calc(45%);
    position: relative;
}

.mainBlockRWr {
    position: relative;
}

.mainBlockRTitleWr {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 8px;
    background: linear-gradient(360deg, #1A0959 12.5%, rgba(26, 9, 89, 0) 100%);
    border-radius: 12px;
    justify-content: flex-start !important;
    padding-left: 24px;
}

.mainBlockRTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    margin-left: 12px;

    /* Purple Heart 11 */

    color: #F8F6FE;
}

.MLdecor1 {
    margin-top: 42px;
    margin-left: 54px;
}

h1 {
    margin-left: 64px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 54px;
    line-height: 80px;
    margin-top: 64px;
    margin-bottom: 0;
}

h2 {
    color: #FFFFFF;
    margin-left: 64px;
    font-weight: 600 !important;
    font-size: 32px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    color: white;
    margin-left: 64px;
    margin-top: 0;
}

.downloadPrez {

    position: absolute;
    bottom: 56px;
    left: 24px;
}

.downloadPrez a {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    color: #FFFFFF;
}

.downloadPrezDecor {
    width: 104px;
    height: 104px;
    background: #40CFF9;
    margin-right: -52px;
    border-radius: 50%;
}

.downloadPrezText {
    padding: 12px 28px;
    background: #6944F0;
    border-radius: 32px;
    cursor: pointer;
}

.statWr {
    justify-content: space-between;
}

.statItem {
    width: calc(50% - 12px);
    box-sizing: border-box;
    border: 2px solid #F0ECFE;
    border-radius: 108px;
    padding: 32px;
}

.statItemTextWr {
    margin-left: 24px;
}

.statItemText {
    font-weight: 800;
    font-size: 54px;
    line-height: 80px;
    color: #7857F1;
    margin-top: -6px;

}

.statItemDescr {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #8D9297;
    margin-top: -20px;
}

.Allparams {
    width: 250px;
}

.pointer {
    cursor: pointer;
}

.img-thumbnail {
    width: 150px;
}

.sectionHeader {
    margin-bottom: 39px;
}
.sectionHeader.withSub{
    margin-bottom: 12px;
}
.sectionHeaderSubTitle{
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.sectionHeaderTitle {
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    margin-right: 32px;
}

.aVideoItem {
    border: 1px solid #096cff5e;
    padding: 12px;
    border-radius: 8px;
    width: min-content;
    margin-bottom: 24px;
}

.aVideoItemImg {
    width: 320px;
    height: 180px;
    background: #cccccc;
    border-radius: 4px;
    position: relative;
}

.aVideoItemImgBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    border-radius: 4px;
}

.aVideoBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.aVideoItem.active {
    background: #19875436;
}

.videoWr {
    flex-wrap: wrap;
}

.videoItem {
    width: calc(33.3333% - 12px);
    margin-bottom: 24px;
    border-radius: 12px;
    background-color: #F8F6FE;

}

.videoImageWr {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 12px;
}
.videoHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.videoHover:hover{
    opacity: 1;
}

.fullScreenWr{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(64, 74, 81, 0.3);
    z-index: 10000;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoBox{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(64, 74, 81, 0.3);
    border-radius: 16px;
    box-sizing: border-box;
    width: 800px;
    padding: 48px 40px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
    position: relative;
}
.close{
    position: absolute;
    right: 24px;
    top:24px;
    width: 56px;
    height: 56px;
    filter: drop-shadow(0px 4px 4px rgba(64, 74, 81, 0.2));
    background: #D9DBDC;
    border-radius: 50%;
}
.close:hover{
    background: #B3B7B9;
}
.aServBox{

}
.aServItem{
    width: calc(33% - 12px);
    box-sizing: border-box;
    border-radius: 8px;
    border:1px solid gray;
    padding: 24px 12px;
}
.aServItemBox{
    padding: 12px 0;
}
.red{
    color: #dc3545;

}
.green {
    color:  #198754;

}
.section{
    border: 2px solid #F0ECFE;
    border-radius: 12px;
    padding: 32px 40px;
    width: calc(33.333% - 12px);
    box-sizing: border-box;
}
.sectionTitleWr{
    align-items: center;
    margin-bottom: 12px;
}
.sectionTitleDecor{
    width: 40px;
    height: 40px;
    opacity: 0.5;
    border-radius: 50%;
    margin-right: -20px;
}
.sectionTitle{
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #666E74;
}
.sectionItemDecor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 16px;
}
.sectionItemText{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #666E74;
}
.sectionItem{
    align-items: baseline;
    margin-bottom: 8px;
}
.geoWr{
    margin-left: 30px;
}
.geografyText{
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
}
.geografyWr{

}
.geografyItem{
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    align-items: baseline;
}
.geografyItemText{
    margin-left: 12px;
}
.geografyItemDecor{
    width: 10px;
    height: 10px;
    background: #8769F3;
    border-radius: 50%;
}
.admih h1, .admin h2, .admin h3, .admin h4{
    color:#212529
}
.clientsImage{
    width: 100%;
    height: auto;
}
.rel{
   position: relative;
}
.mainContactsBlock{
    position: absolute;
    background: #FFFFFF;
    /* Shadow (B 16; O 24%;) */

    box-shadow: 0px 4px 16px rgba(156, 172, 196, 0.24);
    border-radius: 12px;
    padding: 8px 0;
    z-index: 1000;
    width: max-content;
    display: none;
    left: -48px;
}
.mainContactsBlock.active{
    display: block;
}
.mainContactsItem{
    padding: 8px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #586368;
    cursor: pointer;

}
.mainContactsItem:hover{
    font-weight: 600;
    background: #F8F6FE;
}
.mainContactsItem.active{
    color:#FFFFFF;
    background: #6944F0;
}
.aMainImageItem{
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 24px 12px;
    margin-bottom: 12px;
}
.mainBlockRWr .splide__slide{
    height: 502px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mainHead{
    position: fixed;
    z-index: 5000;
    background: white;
    width: 100%;
    margin-top: 0;
    top: 0;
}
#first, #projects, .container.admin{
    margin-top:140px;
}
.container.admin{
    margin-bottom:64px;
}

.downloadPres2{
    cursor: pointer;
    background: #F8F6FE;
    border: 2px solid #6944F0;
    border-radius: 33px;
    font-size: 18px;
    line-height: 27px;
    color: #6944F0;
    padding: 8px 24px;
    margin-bottom: 24px;
}
.aAdminMenu{
    position: fixed;
    padding: 24px;
    top: 93px;
    left: 0;
    z-index: 0;
}
.aAdminMain{
    margin-left: 185px;
}
.aProjectDescr{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 8px;
    height: 6em;
    width: 100%;

}
.footer{
    background-color: #FFFFFF;
}
.projectsWr{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projectItem{
    border: 1px solid #F0ECFE;
    border-radius: 12px;
    overflow: hidden;
    width: calc(33% - 24px);
    margin-bottom: 48px;
}
.projectItemImageWr{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.projectItemImageWr .image, .projectItemImageWr .splide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer;

}
.imageSvg{
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
}
.projectTower{
    padding: 32px 24px;
}
.projectSection{
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #D9DBDC;;
}
.projectSection:last-child{
    border-bottom: 0;
    padding-bottom: 0;
}
.projectClientTitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8D9297;
}
.projectClientText {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #404A51;
}
.projectTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #404A51;
}
.projectType{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #404A51;
}
.projectDescription{
    font-size: 16px;
    line-height: 24px;
    color: #404A51;
    white-space: pre;
}
.projectPlaceTitle{
    align-items: center;
    justify-content: left;
}
.projectPlace{
    margin-left: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #B3B7B9;
}
.splide__pagination__page.is-active{
    position: relative;
}
.splide__pagination__page:after{
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    top:20%;
    left: 20%;
    border-radius: 50%;
    background: transparent;
}
.splide__pagination__page.is-active:after{
    background: #6944F0;
}
.mobile{
    display: none;
}
.descktop{
    display: block;
}

@media all and (max-width: 1248px){
    .mainTower{
        padding: 0 24px;
    }
}
@media all and (max-width: 1080px){
    .mainTower{
        padding: 0 0px;
    }
    .downloadPrez{
        align-items: flex-end;
        bottom: 16px;
    }
    .downloadPrezDecor {
        width: 70px;
        height: 70px;
    }
    .foolerItem:first-child{
        width: 25%;
    }
}
@media all and (max-width: 975px) {
    .mobile{
        display: block;
    }
    .descktop{
        display: none;
    }
    .mobileMenu{
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgb(152 166 175 / 25%);
        height: 64px;
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        box-sizing: border-box;

    }
    .mobileMenuItem{
        cursor: pointer;
    }
    .mobileMenuBox{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        background: white;
        visibility:hidden;
        box-sizing: border-box;

    }
    .mobileMenuWr{
        padding: 24px;
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        top:0;
        left: 0;
    }
    .mobileMenuModal{
        width: 100%;
        height: 100%;
        position: relative;
        background: #f7f6fe;
    }
    .mobileMenuBoxHead {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 64px;
        left: 0px;
        top: 0px;
        padding: 24px;

    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(152, 166, 175, 0.25);}

    body.activeMobileMenu .mobileMenuBox{
        visibility: visible;
    }
    body.activeMobileMenu{
        overflow: hidden;
    }
    .mobileMenuBoxFooterWr{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        padding: 24px;
        box-sizing: border-box;
        border-top: 1px solid #D2C7FB;

    }
    .mobileMenuBoxFooter{
        height: 140px;

    }
    .foolerContact{
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .mobileMenuBoxItems .menu
    {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .mobileMenuBoxItems .menu a{
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #666E74;
        margin-bottom: 24px;
    }
    .mobile .mainSubMenu{
        display: block;
    }
    .mobile .mainSubMenuItem{
        margin-bottom: 24px;
        margin-left: 0;
    }
    .menu-item:hover {
        font-weight: 600;
        color: #7857F1;
        background-color:transparent;
    }
    section{
        background: #f7f6fe;
    }
    .mainBlock{
        flex-wrap: wrap;
        flex-direction:column-reverse;
    }
    .mainBlockL, .mainBlockR{
        width: 100%;
    }
    .mainBlockRWr .splide{
        width: 100% !important;
    }
    .mainBlockRWr .splide__slide{
        height: 502px;
        position: relative;
        background-size: cover;

    }
    .mainBlockRTitleWr svg{
        display: none;
    }
    .mainBlockRTitleWr{
        padding-right: 24px;
    }
    .mainBlockRTitle{
        font-size: 14px;
        line-height: 21px;
    }
    .MLdecor1{
        display: none;
    }
    h1{
        margin-top: 24px;
        margin-left: 0;
        width: 100%;
        padding:0 16px;
        font-size: 36px;
        line-height: 54px;
    }
    h2{
        margin-left: 0;
        width: 100%;
        padding:0 16px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 8px;
    }
    h4{
        margin-left: 0;
        width: 100%;
        padding:0 16px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #D2C7FB;
        margin-bottom: 24px;
        box-sizing: border-box;
    }
    .downloadPrez{
        position: initial;
        margin-bottom: 36px;
        margin-left: -102px
    }
    .downloadPrezDecor{
        width: 84px;
        height: 84px;
        margin-right: -28px;
    }
    .downloadPrezText{
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    #first, #projects, .container.admin {
        margin-top: 64px;
    }
    .statWr{
        flex-wrap: wrap;
    }
    .statItem {
        width: calc(100% - 24px);
        background: #FFFFFF;
        margin: 24px 12px ;

    }
}


