.mainTower
    .mainBlock.flex
        .mainBlockL
            .MLdecor1
                <svg width="66" height="48" viewBox="0 0 66 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="66" width="48" height="64" rx="24" transform="rotate(90 66 0)" fill="#967CF5" />
                <circle cx="24" cy="24" r="24" transform="rotate(90 24 24)" fill="#6944F0" />
                </svg>
            h1 TM Project
            h2 !{facts.slogan}
            h4 !{facts.rechevka}
            .downloadPrez.flex.center
                .downloadPrezDecor
                .downloadPrezText.flex.center
                    a(href=facts.preza download="TMProject.pdf") Скачать презентацию&nbsp;
                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0.5C8.26522 0.5 8.51957 0.605357 8.70711 0.792893C8.89464 0.98043 9 1.23478 9 1.5V12.086L11.293 9.793C11.4816 9.61084 11.7342 9.51005 11.9964 9.51233C12.2586 9.5146 12.5094 9.61977 12.6948 9.80518C12.8802 9.99059 12.9854 10.2414 12.9877 10.5036C12.99 10.7658 12.8892 11.0184 12.707 11.207L8.707 15.207C8.51947 15.3945 8.26516 15.4998 8 15.4998C7.73484 15.4998 7.48053 15.3945 7.293 15.207L3.293 11.207C3.19749 11.1148 3.12131 11.0044 3.0689 10.8824C3.01649 10.7604 2.9889 10.6292 2.98775 10.4964C2.9866 10.3636 3.0119 10.2319 3.06218 10.109C3.11246 9.98615 3.18671 9.8745 3.2806 9.78061C3.3745 9.68671 3.48615 9.61246 3.60905 9.56218C3.73194 9.5119 3.86362 9.4866 3.9964 9.48775C4.12918 9.4889 4.2604 9.51649 4.3824 9.5689C4.50441 9.62131 4.61475 9.69749 4.707 9.793L7 12.086V1.5C7 1.23478 7.10536 0.98043 7.29289 0.792893C7.48043 0.605357 7.73478 0.5 8 0.5V0.5ZM1 15.5C1.26522 15.5 1.51957 15.6054 1.70711 15.7929C1.89464 15.9804 2 16.2348 2 16.5V18.5H14V16.5C14 16.2348 14.1054 15.9804 14.2929 15.7929C14.4804 15.6054 14.7348 15.5 15 15.5C15.2652 15.5 15.5196 15.6054 15.7071 15.7929C15.8946 15.9804 16 16.2348 16 16.5V18.5C16 19.0304 15.7893 19.5391 15.4142 19.9142C15.0391 20.2893 14.5304 20.5 14 20.5H2C1.46957 20.5 0.960859 20.2893 0.585786 19.9142C0.210714 19.5391 0 19.0304 0 18.5V16.5C0 16.2348 0.105357 15.9804 0.292893 15.7929C0.48043 15.6054 0.734784 15.5 1 15.5Z" fill="white"/>
                    </svg>

        .mainBlockR
            .mainBlockRWr
                .splide(role="group")
                    .splide__track
                        ul.splide__list
                            li.splide__slide("background-image"=facts.mainImgUrl)
                                .mainBlockRTitleWr.flex.center
                                    <svg width="56" height="80" viewBox="0 0 56 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.7" x="2" y="2" width="52" height="76" rx="15" fill="white" stroke="white" stroke-width="4" />
                                    <path d="M16 52C9.37259 52 4 57.3726 4 64C4 70.6274 9.37258 76 16 76C22.6274 76 28 70.6274 28 64C28 57.3726 22.6274 52 16 52Z" fill="#1A0959" />
                                    <path d="M16 28C9.37259 28 4 33.3726 4 40C4 46.6274 9.37258 52 16 52C22.6274 52 28 46.6274 28 40C28 33.3726 22.6274 28 16 28Z" fill="#F21A05" />
                                    <path d="M40 28C33.3726 28 28 33.3726 28 40C28 46.6274 33.3726 52 40 52C46.6274 52 52 46.6274 52 40C52 33.3726 46.6274 28 40 28Z" fill="#6944F0" />
                                    <path d="M40 4C33.3726 4 28 9.37258 28 16C28 22.6274 33.3726 28 40 28C46.6274 28 52 22.6274 52 16C52 9.37258 46.6274 4 40 4Z" fill="#B4A1F7" />
                                    </svg>
                                    .mainBlockRTitle !{facts.mainImgDescr}

