.footer
    .mainTower
        .footerTitle
            .a(href="/#")
                img(src="/images/tm.svg" alt="LOGO")


        .footerText
            .foolerItem 2015-!{year} © ООО «ТМ-менеджмент» / ООО «ЭффектКомм»
            .foolerItem
                .flex.foolerItemContactWr
                    include contacts

        .footerImage
            img(src="/images/footer.svg" alt="LOGO")
