.menu
    //a.menu-item(href="/#first") Главная
    a.menu-item(href="/#video") Проекты
    a.menu-item(href="/#services") Услуги
    a.menu-item(href="/#geo") О команде
    a.menu-item(href="/#clients") Клиенты
