.mainTower
    .statWr.flex
        .statItem.flex.center
            <svg width="244" height="48" viewBox="0 0 244 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="166.5" y="1.5" width="45" height="165" rx="22.5" transform="rotate(90 166.5 1.5)" stroke="#8769F3" stroke-width="3"/>
            <path d="M172 48C185.255 48 196 37.2548 196 24C196 10.7452 185.255 0 172 0C158.745 0 148 10.7452 148 24C148 37.2548 158.745 48 172 48Z" fill="#6944F0"/>
            <path d="M220 48C233.255 48 244 37.2548 244 24C244 10.7452 233.255 0 220 0C206.745 0 196 10.7452 196 24C196 37.2548 206.745 48 220 48Z" fill="#1A0959"/>
            </svg>
            .statItemTextWr
                .statItemText 2008
                .statItemDescr Год основания

        .statItem.flex.center
            <svg width="97" height="48" viewBox="0 0 97 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M61 48C67.6274 48 73 42.6274 73 36C73 29.3726 67.6274 24 61 24C54.3726 24 49 29.3726 49 36C49 42.6274 54.3726 48 61 48Z" fill="#1A0959"/>
            <path d="M36 48C42.6274 48 48 42.6274 48 36C48 29.3726 42.6274 24 36 24C29.3726 24 24 29.3726 24 36C24 42.6274 29.3726 48 36 48Z" fill="#6944F0"/>
            <path d="M23 36C23 42.0751 18.0751 47 12 47C5.92487 47 1 42.0751 1 36C1 29.9249 5.92487 25 12 25C18.0751 25 23 29.9249 23 36Z" stroke="#6944F0" stroke-width="2"/>
            <path d="M61 24C67.6274 24 73 18.6274 73 12C73 5.37258 67.6274 0 61 0C54.3726 0 49 5.37258 49 12C49 18.6274 54.3726 24 61 24Z" fill="#1A0959"/>
            <path d="M85 24C91.6274 24 97 18.6274 97 12C97 5.37258 91.6274 0 85 0C78.3726 0 73 5.37258 73 12C73 18.6274 78.3726 24 85 24Z" fill="#F21A05"/>
            </svg>

            .statItemTextWr
                .statItemText #{facts.projectCount}
                .statItemDescr Организованно мероприятий

