.mainTower
    .statWr.flex
        .statItem.flex.center
            <svg width="244" height="48" viewBox="0 0 244 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="166.5" y="1.5" width="45" height="165" rx="22.5" transform="rotate(90 166.5 1.5)" stroke="#8769F3" stroke-width="3"/>
            <path d="M172 48C185.255 48 196 37.2548 196 24C196 10.7452 185.255 0 172 0C158.745 0 148 10.7452 148 24C148 37.2548 158.745 48 172 48Z" fill="#6944F0"/>
            <path d="M220 48C233.255 48 244 37.2548 244 24C244 10.7452 233.255 0 220 0C206.745 0 196 10.7452 196 24C196 37.2548 206.745 48 220 48Z" fill="#1A0959"/>
            </svg>
            .statItemTextWr
                .statItemText 2008
                .statItemDescr Год основания

        .statItem
