.mainTower
    .sectionHeader.flex.left
        .sectionHeaderTitle Видео мероприятий
        .sectionHeaderIcon
            <svg width="72" height="24" viewBox="0 0 72 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#6944F0"/>
            <path d="M36 24C42.6274 24 48 18.6274 48 12C48 5.37258 42.6274 0 36 0C29.3726 0 24 5.37258 24 12C24 18.6274 29.3726 24 36 24Z" fill="#1A0959"/>
            <path d="M44 11.9923C39.9569 14.3589 36.0108 16.6487 32 19C32 14.3128 32 9.71789 32 5C36.0108 7.33589 39.9569 9.64105 44 11.9923Z" fill="white"/>
            <path d="M60 24C66.6274 24 72 18.6274 72 12C72 5.37258 66.6274 0 60 0C53.3726 0 48 5.37258 48 12C48 18.6274 53.3726 24 60 24Z" fill="#F21A05"/>
            </svg>
        .videoWr.flex.between !{JSON.stringify(videos)}
            each video in videos
                .videoItem
                    .videoImageWr.flex.center
                        .videoImage

